[Unit]
Description=Unlock LUKS with KeyVault
Before=cryptsetup-pre.target
DefaultDependencies=no
Wants=network-online.target
After=network-online.target systemd-networkd-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/luks_unlocker
ExecStartPost=/usr/bin/systemctl start cryptsetup-pre.target

[Install]
WantedBy=cryptsetup-pre.target